<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FasTelco API</title>
</head>
<body>
    <header>
        <h1>Bienvenido a la API de FasTelco</h1>
    </header>
    <main>
        <p>Esta es una API de ejemplo para demostrar el uso de FastAPI.</p>
        <p>Puedes acceder a los endpoints de usuario y otros recursos.</p>
    </main>
    <h1>{{message}}</h1>
    <footer>
        <p>&copy; 2023 FasTelco</p>
    </footer>

</html>
